html, h1, p, div, body, header, footer {
	margin: 0;
	padding: 0;
}

/*
	BODY
*/
body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 10px 0;
	padding: 0;
	/* text-align: center; */
}

.bodyContent {
	background-color: silver;
	width: 100%;
	float: left;
	margin-left: 2em;
	padding-top: 6em;
}

a.randomUserInfo {
	background: red;
	color: white;
}

#list {
	background: black;
	color: white;
}

/*
	HEADER
*/
header {
	position: fixed;
	width: 100%;
	background-color: rgb(66, 115, 178);
	size: auto;
	top: 0;
	height: inherit;
	min-height: 85px;
}

/*
	FOOTER
*/
footer {
	clear:both;
	min-height: 2em;
	max-height: 2em;
	width: 100%;
	background-color: rgb(66, 115, 178);
	size: auto;
	bottom: 0;
	position: relative;
}


.footerText {
	margin: 0.5em;
	max-height: 2em;
}
/*
	TOOLS
*/
.italic {
	font-style: italic;
}

.border {
	border: solid 2px black;
}

/*
	BANNER
*/
.bannerLogo {
	max-height: 70px;
	display: inline-block;
	margin: 5px;
}

.bannerBlock {
	max-height: 70px;
	display: inline-block;
	margin-top: 0;
	margin-left: 2em;
	padding: 0;
	size: inherit;
}

.bannerTitle {
	top: 1em;
}

.bannerSubtitle {
	top: 0;
}

/*
	BOTTOM HEADER DIV
*/
.horizontalRepeatBlock {
	min-height: 20px;
	min-width: 5px;
	display: block;
	background-repeat: repeat-x;
	margin: 0;
	/* background-color: 0; */
}

/*
	CLICKABLE BANNER
*/
div.bannerBox {
	position: relative;
	width: 100%;
	height: inherit;
	max-height: 5em;
	background: transparent;
	color: #000;
	/* padding: 20px; */
}

div.bannerBox:hover {
	cursor: hand;
	cursor: pointer;
	opacity: .9;
	background: rgb(86, 135, 198);
}

a.divLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	/* Makes sure the link doesn't get underlined */
	z-index: 10;
	/* raises anchor tag above everything else in div */
	background-color: white;
	/*workaround to make clickable in IE */
	opacity: 0;
	/*workaround to make clickable in IE */
	filter: alpha(opacity = 0);
	/*workaround to make clickable in IE */
}

/*
	HEADER BUTTON
*/
