body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin-left: 1em;
}

header {
	max-height: 40px;
	margin-left: -3em;
	margin-tom:0;
	margin-bottom:1em;
}
.italic{
	font-style: italic;
}

.bannerLogo{
	max-height:60px;
	display: block;
	
}

.bannerBlock{
	max-height:70px;
	display:inline-block;
	/* border: solid 2px black; */
	margin-bottom: 0;
	margin-left: 2em;
}

.border {
	border: solid 2px black;
	margin:1em;
}