html, h1, p, div, body, header, footer {
	margin: 0;
	padding: 0;
}

/*
	BODY
*/
body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0px;
	color: white;
	/* text-align: center; */
}

.bodyContent {
	background-color: rgb(51,0,102);
	width: 100%;
	float: left;
	padding-top: 6em;
}

a.randomUserInfo {
	background: red;
	color: white;
}

#nb{
	text-align: center;
}

.contact {
	padding:10px;
	display: inline-block;
	margin-top:2%;
	margin-left:3%;
	margin-bottom:2%;
	color: white;
	background:#034079;
	background:-webkit-gradient(linear, left top, left bottom, from(#034079), to(#045096));
	background:-moz-linear-gradient(left, #034079, #045096);
	background:-o-linear-gradient(left, #034079, #045096);
	background:-ms-linear-gradient(left, #034079, #045096);
	width: 25%;
}

.fiche li{
	list-style: none;
}


.contact li{
	list-style: none;
}

.address li{
	list-style:none;
}

.address{
	padding:10px;
	display:inline-block;
	margin-top:2%;
	margin-left:3%;
	margin-bottom:2%;
	color: white;
	background:#cd432d;
	background:-webkit-gradient(linear, left top, left bottom, from(#cd432d), to(#d95438));
	background:-moz-linear-gradient(left, #cd432d, #d95438);
	background:-o-linear-gradient(left, #cd432d, #d95438);
	background:-ms-linear-gradient(left, #cd432d, #d95438);
	width: 25%;
}

#list {
	background: black;
	color: white;
}

/*
	HEADER
*/
header {
	position: fixed;
	width: 100%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	size: auto;
	top: 0;
	height: inherit;
	min-height: 85px;
}

.dataInfo{
	display: inline-block;
	float: right;
	color: #000;
	margin: 0;
	padding: 0;
	max-height: 85px;
}

/*
	FOOTER
*/
footer {
	color: white;
	text-align:right;
	width: 100%;
	background-color: rgb(51,0,102));
}

.footerText {
	max-height: 3em;
}
/*
	TOOLS
*/
.italic {
	font-style: italic;
}

/*.border {
	border: solid 2px black;
}*/

/*
	BANNER
*/
.bannerLogo {
	max-height: 70px;
	display: inline-block;
	margin: 5px;
}

.bannerBlock {
	max-height: 70px;
	display: inline-block;
	margin-top: 0;
	margin-left: 2em;
	padding: 0;
	size: inherit;
}

.bannerTitle {
	top: 1em;
}

.bannerSubtitle {
	top: 0;
}

/*
	BOTTOM HEADER DIV
*/
.horizontalRepeatBlock {
	min-height: 20px;
	min-width: 5px;
	display: block;
	background-repeat: repeat-x;
	margin: 0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(187,140,238,1) 86%, rgba(119,68,170,1) 92%, rgba(51,0,102,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,1)), color-stop(86%,rgba(187,140,238,1)), color-stop(92%,rgba(119,68,170,1)), color-stop(100%,rgba(51,0,102,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 75%,rgba(187,140,238,1) 86%,rgba(119,68,170,1) 92%,rgba(51,0,102,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 75%,rgba(187,140,238,1) 86%,rgba(119,68,170,1) 92%,rgba(51,0,102,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 75%,rgba(187,140,238,1) 86%,rgba(119,68,170,1) 92%,rgba(51,0,102,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 75%,rgba(187,140,238,1) 86%,rgba(119,68,170,1) 92%,rgba(51,0,102,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#330066',GradientType=0 ); /* IE6-9 */
	/* background-color: 0; */
}

/*
	CLICKABLE BANNER
*/
div.bannerBox {
	position: relative;
	width: 100%;
	height: inherit;
	max-height: 5em;
	background: transparent;
	color: black;
	/* padding: 20px; */
}

a.divLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	/* Makes sure the link doesn't get underlined */
	z-index: 10;
	/* raises anchor tag above everything else in div */
	background-color: white;
	/*workaround to make clickable in IE */
	opacity: 0;
	/*workaround to make clickable in IE */
	filter: alpha(opacity = 0);
	/*workaround to make clickable in IE */
}

/*
	HEADER BUTTON
*/
